<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studio pd main</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/indexcss.css">
</head>
<body>
    <div class="wrap">
        <header>
          <div class="header_wrap">
            <h1 class="header_logo"><a href="#"><img src="/static/images/biglogojyahn.png" alt="로고"></a></h1>
            <nav>
              <!-- <button class="btn-close" onclick="document.querySelector('nav').style.display='none'">Χ</button> -->
              <ul class="gnb">
                <li><a href="#">상세검색</a></li>
                <li><a href="#">이용안내</a></li>
                <li><a href="#">이벤트</a></li>
                <li>
                  {% if session['is_loged_in'] %}
                    <span class="username">{{session['username']}}님</span>
                    {% else %}
                    <span class="username">guest</span>
                    {% endif %}</li>
              </ul>
            </nav>
            <div class="utilmenu">
              {% if session['is_loged_in'] %}
              <a href="/logout"><img src="/static/images/logout.png" alt="마이메뉴"></a>
              {% else %}
              <a href="/loginst"><img src="/static/images/profile.png" alt="마이메뉴"></a>
              {% endif %}
              <a href="#" onclick="document.querySelector('nav').style.display='block'"><img src="/static/images/menu.png" alt="메뉴"></a>
            </div>
          </div>
        </header>
        <main>
          <section class="section1">
            <div class="visual">
              <img src="/static/images/visual.png" alt="메인이미지">
            </div>
            <div class="search">
              <!-- <input type="text"  placeholder="검색"> -->
              <div class="search_div">
                <div class="search_img"><img src="/static/images/map.png"></div>
                <a href="#"><span>지역</span></a>
              </div>
              <div class="search_div">
                <div class="search_img"><img src="/static/images/types.png"></div>
                <a href="#"><span>유형</span></a>
              </div>
              <div class="search_div">
                <div class="search_img"><img src="/static/images/calendar.png"></div>
                <a href="#"><span>날짜</span></a>
              </div>
              <button class="btn-search">검색</button>
            </div>
          </section>
          <section class="section2">
            <div class="section2wrap">
              <figure>
                <div><img src="/static/images/oneoffour.png" alt="대형스튜디오"></div>
                <figcaption>대형 스튜디오</figcaption>
              </figure>
              <figure>
                <div><img src="/static/images/twooffour.png" alt="호리존"></div>
                <figcaption>호리존</figcaption>
              </figure>
              <figure>
                <div><img src="/static/images/threeoffour.png" alt="크로마키"></div>
                <figcaption>크로마키</figcaption>
              </figure>
              <figure>
                <div><img src="/static/images/fouroffour.png" alt="버추얼스튜디오"></div>
                <figcaption>LED 버추얼 스튜디오</figcaption>
              </figure>
            </div>
          </section>
          <section class="section3">
              <div class="section3wrap">
                <div class="black_caption">
                  <span class="title1">턴 스튜디오</span>
                  <div class="title2">
                    <span>자동차 전용</span>
                    <span>턴테이블 스튜디오</span>
                  </div>
                  <span class="title3">경기도 파주시 신촌동 109-18</span>
                  <span class="title4">+ VIEW MORE</span>
                </div>
                <div><img src="/static/images/turntable.png" alt="턴스튜디오"></div>
              </div>
          </section>
          <section class="section4">
            <div class="section4wrap">
              <div class="two_column">
                <img src="/static/images/oneoftwo.png" alt="버추얼 스튜디오">
                <div class="column_text">
                  <span>+ VIEW MORE</span>
                  <span>1일(12시간) 250만원</span>
                </div>
              </div>
              <div class="two_column">
                <img src="/static/images/twooftwo.png" alt="크로마키스튜디오">
                <div class="column_text">
                  <span>+ VIEW MORE</span>
                  <span>1일(12시간) 80만원</span>
                </div>
              </div>
            </div>
          </section>
          <section class="section5">
            <div class="section5wrap">
              <div class="app_text">
                <span>스튜디오 예약에 필요한 모든것</span>
                <span>스튜디오피디 APP에서 만나보세요!</span>
              </div>
              <div>
                <img src="/static/images/smartphone.png" alt="스마트폰앱화면">
              </div>
            </div>
          </section>
        </main>
      </div>
    <footer>
      <div class="footerwrap">
        <div class="footer_logo"><img src="/static/images/biglogojyahn.png" alt="로고"></div>
        <div class="footer_text">
          <span>서울시 노원구 동일로 1351 2층(상계동)  /  대표자: 안지영  /  사업자번호:210-91-08887</span>
          <span>Tel:02-952-1163  /  Fax:02-952-7116  /  대표 E-mail:webmaster@studiopd.co.kr</span>
          <span>Copyright ⓒ studiopd.corp.All Rights Reserved.</span>
        </div>
        <div class="circle">
          <img src="/static/images/twitter.png" alt="트위터">
          <img src="/static/images/instagram.png" alt="인스타">
          <img src="/static/images/facebook.png" alt="페이스북">
        </div>
      </div>
    </footer>

    
</body>
</html>