{% extends "layouts.html" %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block body %}
<div class="container">
	<section class="vh-100" style="background-color: #9A616D;">
		<div class="container py-5 h-100">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-xl-10">
			  <div class="card" style="border-radius: 1rem;">
				<div class="row g-0">
				  <div class="col-md-6 col-lg-5 d-none d-md-block">
					<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
					  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
				  </div>
				  <div class="col-md-6 col-lg-7 d-flex align-items-center">
					<div class="card-body p-4 p-lg-5 text-black">
	  
					  <form action="/login" method="POST">
	  
						<div class="d-flex align-items-center mb-3 pb-1">
						  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
						  <span class="h1 fw-bold mb-0">로그인</span>
						</div>
	  
						<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
						
						<div class="form-outline mb-4">
						  <input type="email" name="email" id="form2Example17" class="form-control form-control-lg" />
						  <label class="form-label" for="form2Example17">Email address</label>
						</div>
	  
						<div class="form-outline mb-4">
						  <input type="password"  name="password" id="form2Example27" class="form-control form-control-lg" />
						  <label class="form-label" for="form2Example27">Password</label>
						</div>
	  
						<div class="pt-1 mb-4">
						  <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
						</div>
	  
						<a class="small text-muted" href="#!">Forgot password?</a>
						<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
							style="color: #393f81;">Register here</a></p>
						<a href="#!" class="small text-muted">Terms of use.</a>
						<a href="#!" class="small text-muted">Privacy policy</a>
					  </form>
	  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
</div>


<!-- <ul>
	<li onclick="kakaoLogin();">
		<a href="javascript:void(0)">
			<span>카카오 로그인</span>
		</a>
	</li>
	<li onclick="kakaoLogout();">
		<a href="javascript:void(0)">
			<span>카카오 로그아웃</span>
		</a>
	</li>
  </ul> -->
  <!-- 카카오 스크립트 -->
  <!-- <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script>
  Kakao.init('0fdd5f9ca42c6a33fcfde4aebdca82a6'); //발급받은 키 중 javascript키를 사용해준다.
  console.log(Kakao.isInitialized()); // sdk초기화여부판단 -->
  
 
  <!-- //카카오로그인
  function kakaoLogin() {
	  Kakao.Auth.login({
		success: function (response) {
		  Kakao.API.request({
			url: '/v2/user/me',
			success: function (response) {
			  console.log(response)
			},
			fail: function (error) {
			  console.log(error)
			},
		  })
		},
		fail: function (error) {
		  console.log(error)
		},
	  })
	}
  //카카오로그아웃
  function kakaoLogout() {
	  if (Kakao.Auth.getAccessToken()) {
		Kakao.API.request({
		  url: '/v1/user/unlink',
		  success: function (response) {
			console.log(response)
		  },
		  fail: function (error) {
			console.log(error)
		  },
		})
		Kakao.Auth.setAccessToken(undefined)
	  }
	}
  </script> -->


{% endblock %}